extends ./layout.jade 
block contingut
  h2 Chat Messages
    .container
      #chat.divheigth
      .row.mt-5
        .col-10
          input#box.form-control(type='text')
        .col-2
          input#send(type='submit' value='enviar')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script.
      $(document).ready(function(){
      $("#send").click(function(){
        var d = new Date();
        var h = d.getHours();
        var m = d.getMinutes();
        var time = h +":"+m;
        var text=$("#box").val();
          $('#chat').append('<div class="container"><p><strong>'+ text +'</strong></p><span class="time-right">'+time+'</span></div>');
          $("#box").val("");
          $('html, body').animate({ 
            scrollTop: $(document).height()-$(window).height()}, 
            1400, 
            "easeOutQuint"
          );
      });
      });
