html
  head
    title NodeProject
    meta(charset="utf-8")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/estil.css')
  body
    block contingut