extends ./layout.jade
block contingut
    .container
      .row
        .col-sm.marge
          h2 Llista d'incidències
      .row.incidencies
        .col-sm
          h3 Incidència 1
          .card(style='width: 17rem;')
            img.card-img-top(src='/img/incidencia.png' alt='Card image cap' height='200')
            .card-body
              h5.card-title Urgència: ALTA
              p.card-text
                | Incidència sobre missatges xifrats.
              p.card-text
                | Nom: Toni
              a.btn.btn-primary(href='#') Veure incidència
        .col-sm
          h3 Incidència 2
          .card(style='width: 17rem;')
            img.card-img-top(src='/img/incidencia.png' alt='Card image cap' height='200')
            .card-body
              h5.card-title Urgència: BAIXA
              p.card-text
                | Incidència sobre missatges xifrats.
              p.card-text
                | Nom: Toni
              a.btn.btn-primary(href='#') Veure incidència
        .col-sm
          h3 Incidència 3
          .card(style='width: 17rem;')
            img.card-img-top(src='/img/incidencia.png' alt='Card image cap' height='200')
            .card-body
              h5.card-title Urgència: MITJANA
              p.card-text
                | Incidència sobre missatges xifrats.
              p.card-text
                | Nom: Toni
              a.btn.btn-primary(href='#') Veure incidència
        br
