extends ./layout.jade 
block contingut
    .container
      .row
        h3 Nova incidència
      form.mt-5
        .row
          .col-2
            label(for='name') Nom:
          .col
            input#name.form-control(type='text')
        br
        .row
          .col-2
            label(for='dni') DNI:
          .col
            input#dni.form-control(type='text')
        br
        .row
          .col-2
            label(for='type') Tipus d'incidència:
          .col
            select#type(name='tipus')
              option(value='servidor') Servidor
              option(value='permisos') Problema de permisos
              option(value='espai') Espai en disc
              option(value='altra') Altra
        br
        .row
          .col-2
            label(for='priority') Urgència:
          .col
            select#priority(name='priority')
              option(value='baixa') Baixa
              option(value='mitjana') Mitjana
              option(value='alta') Alta
        .row.mt-5.h-auto
          .col-2
            label(for='desc') Descripció:
          .col
            textarea#desc(name='desc' style='width: 100%; resize: none;' rows='10')
        .row.mt-2
          .col-1.offset-9
            button Cancelar
          .col-1.offset-1
            button Crear
