body {
  background-color: beige;
  margin: auto;
  width: 60%;
  padding: 60px;
  
}

.incidencies {
  margin: 50px;
  background-color: aquamarine;
  padding: 20px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 30px;
  align-items: center;
  word-wrap: break-word;
  align-content: center;
  align-self: center;
  height: 1100px;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.divheigth {
  height: 500px;
  overflow:scroll;
  font-size: medium;
}

/*  .container::after {
    content: "";
    clear: both;
    display: table;
    }
    .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
    }
    .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
    }
*/