extends layout

block content
  h1= NuevaMatricula
  p Alta de nueva asignatura
  form(id="newAsignatura" action="/api/asignatura/save" method="POST")
    label(for='name') Nombre asignatura: 
    input#name(type='text' name='name')
    br
    label(for='numHoras') Total horas asignatura: 
    input#numHoras(type='text' name='numHoras')
    br
    label(for='docente') Docente: 
    select#docente(name='docente')
      each value in myDataDoc  
        option(value=value.id) #{value.nombre} #{value.apellido}
    br
    label(for='alumnos') Alumnos:
    br
    each value in myDataAlum
      input#alumnos(type='checkbox' name='alumnos' value=value.id)
      |  #{value.nombre} #{value.apellido}
      br
    input(type="submit")

